{% extends 'base.html' %} {%block start%}

<!-- Main Start -->
<main>
	<section class="container my-4">
		<div class="row">
			<div class="col-3">
				<div class="list-group">
                    <a href="{% url 'profile-detail' %}" class = "list-group-item">Profile</a>

                    <a href="{% url 'edit-profile'%}" class = "list-group-item">Update Profile</a>
				</div>
			</div>
			<div class="col-9">
				<h3 class="mb-4 border-bottom pb-1">Update Profile</h3>
				{% if msg %}
				 <p class ="text-success">{{msg}}</p> 
				 {% endif %}
				<form action="" method="post">
					<table class="table table-border">
						{% csrf_token %} {{form.as_table}}
						<tr>
							<td colospan="2">
								<input type="submit" class="btn btn-warning" />
							</td>
						</tr>
					</table>
				</form>
			</div>
		</div>
	</section>
</main>
<!-- End -->
{% endblock %}
